body{
    margin: 0px;
    padding: 0px;
    /* width: 99%; */
    /* background-image: url(./assets/background-image.png);
    background-size: cover; */

}
.main{
    width: 100%;
}
.navbar{
    border: 1px solid red;
    width: 99.9%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    left: 0px;
}
.logo{
    border: 1px solid green;
    height: 8vh;
    width: 40%;
}
.links{
    border: 1px solid pink;
    height: 8vh;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    /* padding: 10px; */
}
.backpart{
    /* background-color: purple;
     */
    background-color: purple;
    z-index: -1;
    height: 660px;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.backpart img{
    width: 100%;
    height: 300px;
    position: absolute;
    top: 400px;
    left:0px;
    opacity: 0.9;
}
.logo img{
    width: 40px;
    height: 40px;
    position: absolute;
    top:10px;
    left: 20px;
    z-index: 1;
}
.box1{
    height: 39px;
    width: 38px;
    position: absolute;
    left: 30px;
    top: 11px;
    opacity: 0.2;
    background-color:pink;
    transform: rotate(6deg);
}
 .box2{
    height: 40px;
    width: 40px;
    position: absolute;
    left: 24px;
    top: 9px;
    opacity: 0.3;
    background-color: pink;
    transform: rotate(5deg);
} 
#slides{
    font-size: 30px;
    color: white;
    font-family: sans-serif ;
    position: absolute;
    left: 75px;
    top: 16px;
}
.links a{
    color: white;
    font-size: 15px;

}
.l-one{
    border: 1px solid red;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin: 10px;
}
.l-two{
    border: 1px solid red;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    margin: 10px;
}
.l-three{
    border: 1px solid red;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    margin: 10px;
}
.l-four{
    border: 1px solid red;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    margin: 10px;
}
.l-five{
    border: 1px solid red;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    margin: 10px;
}