body{
    margin: 0px;
    padding: 0px;
    /* width: 99%; */
    /* background-image: url(./assets/background-image.png);
    background-size: cover; */
 font-family: Arial, Helvetica, sans-serif;
}
.main{
    width: 100%;
}
.navbar{
    /* border: 1px solid red; */
    width: 99.9%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    left: 0px;
}
.logo{
    /* border: 1px solid green; */
    height: 8vh;
    width: 40%;
}
.links{
    /* border: 1px solid pink; */
    height: 8vh;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    /* padding: 10px; */
}
.backpart{
    /* background-color: purple;
     */
    background-color: purple;
    z-index: -1;
    height: 740px;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.backpart img{
    width: 100%;
    height: 300px;
    position: absolute;
    top: 460px;
    left:0px;
    opacity: 0.9;
}
.logo img{
    width: 40px;
    height: 40px;
    position: absolute;
    top:10px;
    left: 20px;
    z-index: 1;
}
.box1{
    height: 39px;
    width: 38px;
    position: absolute;
    left: 30px;
    top: 11px;
    opacity: 0.2;
    background-color:pink;
    transform: rotate(6deg);
}
 .box2{
    height: 40px;
    width: 40px;
    position: absolute;
    left: 24px;
    top: 9px;
    opacity: 0.3;
    background-color: pink;
    transform: rotate(5deg);
} 
#slides{
    font-size: 30px;
    color: white;
    font-family: sans-serif ;
    position: absolute;
    left: 75px;
    top: 16px;
}
.links a{
    color: white;
    font-size: 15px;
    text-decoration: none;

}
.l-one{
    /* border: 1px solid red; */
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin: 10px;
}
.l-two{
    /* border: 1px solid red; */
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    margin: 10px;
}
.l-three{
    /* border: 1px solid red; */
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    margin: 10px;
}
.l-four{
    /* border: 1px solid red; */
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    margin: 10px;
}
.l-five{
    /* border: 1px solid red; */
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    margin: 10px;
    border-right: 1px solid lightgray;
}
.l-six{
    /* border: 1px solid red; */
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    margin: 10px;
}
.l-seven{
    /* border: 1px solid red; */
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    margin: 10px;
    background-color: white;
    color: black !important;
    border-radius: 4px;

}
.l-seven a {
    color: black !important;
}
.firstmid{
    /* border: 1px solid red; */
    width: 90%;
    /* margin: 30px auto; */
    /* height: 100px; */
    /* background-color: red; */
    position: absolute;
    top: 100px;
    left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;

}
.fmleft{
    width: 30%;
    /* height: 200px; */
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}
.fmright{
    /* background-color: pink; */
    width: 50%;
    height: 450px;
}
.video{
    width: 100%;
    height: 450px;
}
#bigfont{
    font-size: 70px;
    color: white;
}
#smallfont{
    font-size: 20px;
    margin-top: -30px;
    color: white;
    
}
.bmain{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.b-one{
    background-color: white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    border-radius: 6px;
    color: purple;
    font-size: 25px;

}
.b-two{
    background-color:rgba(255, 255, 255, 0.2);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    border-radius: 6px;
    color: white;
    font-size: 20px;

}
.live{
    background-color: rgb(88, 10, 88);
    height: 20px;
    border-radius: 100px;
    color: white;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;

}
.white{
    margin-left: 20px;
}
.new{
    background-color: white;
    color:  rgb(88, 10, 88);
    border-radius: 100px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.secmid{
    /* background-color: red; */
    height: 500px;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    /* justify-content: flex-start; */
}
.secmidleft{
    /* background-color: green; */
    width: 45%;
    height:400px;
    text-align: center;

    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* padding-top:70px ; */
}
.secmidleft h3{
    font-size: 40px;
    margin-top: 0px;
    margin-top:50px ;
}
.para{
    width: 90%;
    /* background-color: aqua; */
    margin: 20px auto;
    height: 200px;
}

.lightgrey{
    font-size: 20px;
    text-align: justify;
    line-height:40px;
    color:gray;
}
.secmidright{
    /* background-color: green; */
    box-shadow: 10px 10px 10px lightgray;
    width: 46%;
    height:450px;
    margin-right: -47px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}
.video2{
    width: 100%;
    height: 455px;
    border-radius: 6px;
}
.thirdmid{
    margin-top: 50px;
    height: 450px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    background-color: #f5f5f5;
}
.thirdmidleft{
    /* background-color: green; */
    height: 356px;
    width: 40%;
    border-radius: 6px;
    box-shadow: 6px 6px 10px lightgray;

}
.thirdmidright{
    /* background-color: white; */
    height: 400px;
    width: 40%;
    margin-left: 190px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
}
.thirdmidright h3{
    font-size: 40px;
}
.video3{
    width: 100%;
    height: 356px;
}
.edit li{
    font-size: 20px;
    color: gray;
    list-style-type:square;

}
.team{
    background-color: #1baee1;
    height: 60px;
    border-radius: 6px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    margin: 20px auto;
}
#bg{
    background-color: #f5f5f5;
}
.lastpart{
    /* background-color: red; */
    height: 400px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.tour{
    background-color: white;
    height: 50px;
    width: 250px;
    text-align: justify;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}
.tore{
    font-size: 15px;
    color: rgb(68, 67, 67);
}
.list-item{
    /* background-color: white; */
    margin-top: 20px;
    color: gray;
    /* margin-left: 30px; */
    /* margin: 20px; */
}
.list-item:hover{
    border: 1px solid black;
}
.copyright{
    position: absolute;
    top: 4080px;
    bottom: 10px;
    color: gray;
}